DEGIRO_USERNAME=username
DEGIRO_PASSWORD=password
DEGIRO_OTP_SEED=otp_seed
# MIN_CASH_INVEST=100
# MAX_CASH_INVEST=2000
# MAX_FEE_PERCENTAGE=1
# ALLOW_OPEN_ORDERS=false
# USE_LIMIT_ORDER=true
# CASH_CURRENCY=EUR
PRODUCT_VGLA_ISIN=IE000VAHT5T0
PRODUCT_VGLA_EXCHANGE=196
PRODUCT_VGLA_RATIO=100
# SCHEDULE=0 12 * * *
# RUN_ON_LAUNCH=true
# DRY_RUN=true
# LOG_LEVEL=info
TZ=Europe/Amsterdam
