name: CI

on:
  push:
    branches: [master]
    tags: [v*.*.*]
    paths:
      - src/**
      - Dockerfile
      - .dockerignore
      - pnpm-lock.json
      - tsconfig.json
      - bundle/**
      - .github/workflows/**

jobs:
  docker:
    name: Publish Docker image
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    env:
      REGISTRY: ghcr.io
      IMAGE_NAME: ${{ github.repository }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set Docker metadata
        uses: docker/metadata-action@v5
        id: meta
        with:
          images: |
            ${{ env.IMAGE_NAME }}
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=raw,value=dev,enable={{is_default_branch}}
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}

      - name: Login to the Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ github.repository_owner }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and publish Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          platforms: linux/amd64,linux/arm64
          provenance: false
          sbom: false
          cache-from: |
            type=gha,scope=linux-amd64
            type=gha,scope=linux-arm64

      - name: Cache linux/amd64 image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: false
          platforms: linux/amd64
          cache-from: type=gha,scope=linux-amd64
          cache-to: type=gha,scope=linux-amd64,mode=max

      - name: Cache linux/arm64 image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: false
          platforms: linux/arm64
          cache-from: type=gha,scope=linux-arm64
          cache-to: type=gha,scope=linux-arm64,mode=max

      - name: Update Docker Hub description
        uses: peter-evans/dockerhub-description@v4
        with:
          username: ${{ github.repository_owner }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          short-description: ${{ github.event.repository.description }}
          enable-url-completion: true

      - name: Get audit vulnerability count
        id: audit
        run: echo "count=$(pnpm run audit --silent)" >> $GITHUB_OUTPUT

      - name: Create audit badge
        uses: schneegans/dynamic-badges-action@v1.7.0
        with:
          auth: ${{ secrets.GIST_TOKEN }}
          gistID: 53a33a94fb3ba48996d4284b44d26584
          filename: audit.json
          label: Vulnerabilities
          message: ${{ steps.audit.outputs.count }}
          valColorRange: ${{ steps.audit.outputs.count }}
          minColorRange: 0
          maxColorRange: 5
          colorRangeSaturation: 72
          colorRangeLightness: 46
          invertColorRange: true
